<!-- =========================
Header v1
===========================-->
<header>
  <div
    class="header-one lp:!max-w-[1290px] bg-background-2 dark:border-stroke-6 dark:bg-background-9 fixed top-5 left-1/2 z-50 mx-auto flex w-full max-w-[350px] -translate-x-1/2 items-center justify-between rounded-2xl px-2.5 py-2.5 opacity-0 backdrop-blur-[15px] max-[400px]:max-w-[350px] min-[425px]:max-w-[375px] min-[500px]:max-w-[450px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xl:py-0 dark:border"
    data-ns-animate
    data-direction="up"
    data-offset="100"
  >
    <div>
      <a href="./index.html">
        <span class="sr-only">Home</span>
        <figure class="hidden lg:block lg:max-w-[140px]">
          <img src="./images/shared/insighty_logo_v2_caps_c%20(1).png" alt="Insighty" class="w-full" />
        </figure>
        <figure class="block max-w-[110px] lg:hidden">
          <img src="./images/shared/insighty_logo_v2_caps_c%20(1).png" alt="Insighty" class="w-full" />
        </figure>
      </a>
    </div>
    <nav class="hidden items-center xl:flex">
      <ul class="flex items-center">
        <li class="py-2.5">
          <a href="#platform" class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-2 uppercase tracking-wider text-secondary/85 hover:text-secondary dark:text-accent/80 dark:hover:text-accent flex items-center rounded-full border border-transparent px-4 py-2 font-medium transition-all duration-200">
            <span>Platform</span>
          </a>
        </li>
        <li class="py-2.5">
          <a href="#product-tour" class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-2 uppercase tracking-wider text-secondary/85 hover:text-secondary dark:text-accent/80 dark:hover:text-accent flex items-center rounded-full border border-transparent px-4 py-2 font-medium transition-all duration-200">
            <span>Product Tour</span>
          </a>
        </li>
        <li class="py-2.5">
          <a href="#pixel-ai" class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-2 uppercase tracking-wider text-secondary/85 hover:text-secondary dark:text-accent/80 dark:hover:text-accent flex items-center rounded-full border border-transparent px-4 py-2 font-medium transition-all duration-200">
            <span>Pixel AI</span>
          </a>
        </li>
        <li class="py-2.5">
          <a href="#integrations" class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-2 uppercase tracking-wider text-secondary/85 hover:text-secondary dark:text-accent/80 dark:hover:text-accent flex items-center rounded-full border border-transparent px-4 py-2 font-medium transition-all duration-200">
            <span>Integrations</span>
          </a>
        </li>
        <li class="py-2.5">
          <a href="#impact" class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-2 uppercase tracking-wider text-secondary/85 hover:text-secondary dark:text-accent/80 dark:hover:text-accent flex items-center rounded-full border border-transparent px-4 py-2 font-medium transition-all duration-200">
            <span>Impact</span>
          </a>
        </li>
        <li class="py-2.5">
          <a href="#faq" class="hover:border-stroke-2 dark:hover:border-stroke-7 text-tagline-2 uppercase tracking-wider text-secondary/85 hover:text-secondary dark:text-accent/80 dark:hover:text-accent flex items-center rounded-full border border-transparent px-4 py-2 font-medium transition-all duration-200">
            <span>FAQ</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="hidden items-center justify-center xl:flex">
      <a
        href="./signup.html"
        class="btn btn-md btn-secondary dark:btn-accent hover:btn-primary !rounded-none"
      >
        <span>Request a Demo</span>
      </a>
    </div>
    <div class="block xl:hidden">
      <button
        class="nav-hamburger bg-background-4 dark:bg-background-6 flex size-12 cursor-pointer flex-col items-center justify-center gap-[5px] rounded-full"
      >
        <span class="sr-only">Menu</span>
        <span class="bg-stroke-9 dark:bg-stroke-1 block h-0.5 w-6"></span>
        <span class="bg-stroke-9 dark:bg-stroke-1 block h-0.5 w-6"></span>
        <span class="bg-stroke-9 dark:bg-stroke-1 block h-0.5 w-6"></span>
      </button>
    </div>
  </div>
  <Component src="src/components/pages/risk-management-software/mobile-menu.htm" />
</header>
