<!-- =========================
CTA section
===========================-->
<section class="bg-background-2 dark:bg-background-6 pt-[120px] pb-[100px] lg:pb-[200px]">
  <div class="main-container">
    <div class="">
      <div class="space-y-3 text-center">
        <span data-ns-animate data-delay="0.1" class="badge badge-cyan mb-5 inline-block"
          >Get started</span
        >
        <h2 data-ns-animate data-delay="0.2" id="newsletter-heading" class="mx-auto max-w-[1042px]">
          Nexsas – your ultimate email & transactional messaging platform
        </h2>
        <p data-ns-animate data-delay="0.3" class="mx-auto max-w-[600px]">
          Drive more engagement. improve deliverability. automate your emails.
        </p>
      </div>

      <div class="mt-[62px] space-y-8 max-sm:mx-auto max-sm:w-[80%]">
        <form
          data-ns-animate
          data-delay="0.4"
          action="#"
          method="post"
          class="flex items-center justify-center gap-3 max-sm:flex-col"
        >
          <input
            type="email"
            name="email"
            id="userEmail"
            placeholder="Enter your email"
            required
            class="shadow-1 placeholder:text-secondary/50 border-stroke-1 dark:bg-background-6 text-secondary/60 dark:bg-dark-200 focus:border-primary-500 dark:focus:border-primary-500 focus:ring-primary-500/20 h-12 w-full max-w-[440px] rounded-full border px-[18px] py-3 font-normal placeholder:font-normal focus:ring-2 focus:outline-none dark:border-[#31332F] dark:text-white/60 dark:placeholder:text-white/40"
          />
          <button
            type="submit"
            class="btn btn-md btn-primary border-primary-400 hover:btn-secondary dark:hover:btn-accent h-12 max-sm:w-full"
          >
            <span>Get started</span>
          </button>
        </form>

        <ul class="flex flex-col items-center justify-center gap-y-5 md:flex-row md:gap-x-[42px]">
          <li data-ns-animate data-delay="0.2" class="flex items-center justify-center gap-2">
            <span
              class="bg-secondary dark:bg-accent flex size-[18px] items-center justify-center rounded-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="shrink-0"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="dark:fill-secondary fill-white"
                />
              </svg>
            </span>
            <p class="text-tagline-2">No credit card required</p>
          </li>

          <li data-ns-animate data-delay="0.3" class="flex items-center justify-center gap-2">
            <span
              class="bg-secondary dark:bg-accent flex size-[18px] items-center justify-center rounded-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="shrink-0"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="dark:fill-secondary fill-white"
                />
              </svg>
            </span>
            <p class="text-tagline-2">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
