<!-- =========================
Vision Statement section
===========================-->
<section class="pt-32 pb-14 sm:pt-36 md:pt-42 md:pb-16 lg:pb-[88px] xl:pt-[180px] xl:pb-[100px]">
  <div class="main-container space-y-12 md:space-y-16 lg:space-y-[100px]">
    <div class="mx-auto max-w-[780px] space-y-3 text-center">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5"
        >Passion meets purpose</span
      >
      <h2 data-ns-animate data-delay="0.3" class="font-medium">
        Built for progress. designed for possibility.
      </h2>
      <p data-ns-animate data-delay="0.4">
        At Nexsas, we believe software should empower people, not overwhelm them. That’s why we’ve
        created a flexible, intuitive platform that helps teams streamline operations, gain clarity
        from data, and scale faster, without the complexity.
      </p>
    </div>

    <article class="flex flex-col gap-8 md:flex-row">
      <figure
        data-ns-animate
        data-delay="0.5"
        data-instant
        class="max-w-full overflow-hidden rounded-[20px] md:max-w-[630px]"
      >
        <img src="./images/ns-img-357.png" class="h-full w-full object-cover" alt="vision-1" />
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        data-instant
        class="max-w-full overflow-hidden rounded-[20px] md:max-w-[630px]"
      >
        <img src="./images/ns-img-358.png" class="h-full w-full object-cover" alt="vision-2" />
      </figure>
    </article>
  </div>
</section>
